# API
OPENAI_API_KEY=xxxx
UPSTAGE_API_KEY=xxxx
SMITHERY_API_KEY=xxxx
PINECONE_API_KEY=xxxx
TAVILY_API_KEY=xxxx
LANGFUSE_PUBLIC_KEY=xxxx
LANGFUSE_SECRET_KEY=xxxx

# ---------------------------
# 🌐 서비스 환경 설정
# ---------------------------
# - development : 개발용 (FastAPI docs 활성화)
# - production  : 운영용 (FastAPI docs 비활성화)
ENVIRONMENT=development

# FE
FRONTEND_CORS_ORIGIN=http://localhost:3000
APP_HOST=localhost

# Service Port (Removed)
BACKEND_PORT=8000
FRONTEND_PORT=3000

# DB
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_DATABASE=jobpt

# JWT Secret (필수)
# 아래 명령어로 랜덤 값 하나 생성해서 사용하세요.
# python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=change_me!