cache/
resume_JD_similarity/data/** 
.env
*.pyc
!resume_JD_similarity/data/prompt.yaml
!resume_JD_similarity/data/sample_resume.txt
*.jpg
*.png
*.DS_Store*
**OmniParser_v1.zip**
**OmniParser_v1**
**chroma_db**
**__pycache__**
**weights**
!/assets/*png
**uploaded_resumes**
**html**
**chroma_db**
**bin**
ui/public/uploads/**
backend/test_api.py
backend/test_ats.py
backend/ats_report.html
data/uploads/**
dev_data
