numpy
fastapi
torch
transformers
pillow
easyocr
torchvision
openai
azure-identity
opencv-python-headless
gradio
dill
accelerate
timm
paddlepaddle
paddleocr
pdf2image
pytesseract
spacy
supervision==0.18.0
ultralytics==8.1.24
einops==0.8.0
langchain_chroma
langchain_openai
pymupdf
frontend
langchain_experimental
pdfplumber
python-docx
markdown2